.about{

min-height:100vh;

background:#020617;

color:white;

padding:40px;

text-align:center;

position:relative;

}



.back-btn{

position:absolute;

top:25px;

left:25px;

padding:10px 20px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

}



.back-btn:hover{

background:#1d4ed8;

}



.about h1{

font-size:45px;

margin-top:60px;

}



.about p{

font-size:18px;

line-height:1.6;

color:#cbd5e1;

}



.about-box{

background:#111827;

padding:30px;

border-radius:20px;

max-width:600px;

margin:40px auto;

}