.voice-register-page{

min-height:100vh;

background:
linear-gradient(
135deg,
#020617,
#0f172a,
#1e3a8a
);

display:flex;

justify-content:center;

align-items:center;

padding:40px;

font-family:"Inter",sans-serif;

}



.voice-register-card{

width:500px;

background:rgba(15,23,42,0.85);

backdrop-filter:blur(15px);

padding:45px;

border-radius:30px;

text-align:center;

box-shadow:
0 25px 60px rgba(0,0,0,0.5);

border:
1px solid rgba(96,165,250,0.3);

}



.voice-logo{

height:120px;

width:120px;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:60px;

background:
linear-gradient(
135deg,
#2563eb,
#38bdf8
);

box-shadow:
0 0 40px rgba(56,189,248,0.6);

}




.voice-register-card h1{

color:white;

font-size:38px;

margin-top:30px;

}



.voice-register-card p{

color:#cbd5e1;

font-size:17px;

line-height:1.6;

margin-bottom:35px;

}



/* Start Button */


.record-btn{

width:85%;

padding:17px;

border:none;

border-radius:15px;

background:
linear-gradient(
90deg,
#2563eb,
#06b6d4
);


color:white;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.3s;

}



.record-btn:hover{

transform:translateY(-5px);

box-shadow:
0 15px 30px rgba(37,99,235,.5);

}



/* Recording */


.recording-area h2{

color:#f87171;

}



.pulse{

font-size:50px;

animation:pulse 1s infinite;

}



.timer{

font-size:45px;

font-weight:bold;

color:white;

margin:25px;

}



.stop-btn{

width:85%;

padding:17px;

border:none;

border-radius:15px;

background:#dc2626;

color:white;

font-size:18px;

font-weight:600;

cursor:pointer;

}



.stop-btn:hover{

background:#b91c1c;

}



/* Processing */


.processing h2{

color:#38bdf8;

}



.processing p{

color:#cbd5e1;

}



/* Message */


.message-box{

margin-top:30px;

padding:20px;

border-radius:15px;

background:#334155;

}



.message-box h3{

color:white;

font-size:17px;

}




@keyframes pulse{

0%{

transform:scale(1);

}


50%{

transform:scale(1.2);

}


100%{

transform:scale(1);

}

}



@media(max-width:600px){

.voice-register-card{

width:90%;

padding:30px;

}


.voice-register-card h1{

font-size:30px;

}

}